body{
    background-color:rgb(242, 243, 165) ;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.sign {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #050505;
    border-radius: 10px;
}
.sign h1 {
    text-align: center;
    margin-bottom: 20px;
}
.sign button{
    align-content: center;

}